<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-1">
      <div class="col-sm-6">
        <a [routerLink]="['/']"><h1>Logo</h1></a>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!-- <div class="login-box"> -->
<div class="login-logo">
  <a [routerLink]="['/']">Logo</a>
</div>
<!-- /.login-logo -->
<!-- <div class="card"> -->
<div class="card-body login-card-body">
  <p class="login-box-msg">Login</p>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="row">
      <mat-form-field appearance="legacy" style="width: 50vw">
        <input
          matInput
          formControlName="email"
          type="email"
          placeholder="Email"
        />
      </mat-form-field>
      <!-- <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div> -->
    </div>
    <div class="row">
      <mat-form-field appearance="legacy" style="width: 50vw">
        <input
          matInput
          formControlName="password"
          type="password"
          placeholder="Password"
        />
      </mat-form-field>
      <!-- <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div> -->
    </div>
    <div class="row">
      <div class="col-7">
        <div class="icheck-primary">
          <input type="checkbox" id="remember" />
          <label for="remember"> Remember Me </label>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-5">
        <a [routerLink]="['/forgot-password']">Forgot Password?</a>
      </div>
      <div class="row">
        <button mat-stroked-button style="width: 50vw">Login</button>
        <!-- <app-button
            class="btn btn-blcok btn-primary"
                [type]="'submit'"
                [block]="true"
                [text]="'Sign In'"
                [loading]="isAuthLoading"
              ></app-button> -->
      </div>

      <!-- /.col -->
    </div>
  </form>

  <div class="social-auth-links text-center mb-3">
    <p>- OR -</p>
    <a href="#" class="btn btn-block btn-primary">
      <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
    </a>
    <a href="#" class="btn btn-block btn-danger">
      <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
    </a>
  </div>
  <!-- /.social-auth-links -->

  <p class="mb-1">
    <a [routerLink]="['/forgot-password']">I forgot my password</a>
  </p>
  <p class="mb-0">
    <a [routerLink]="['/register']" class="text-center"
      >Register a new membership</a
    >
  </p>
</div>
<!-- /.login-card-body -->
<!-- </div> -->
<!-- </div> -->
